html, body {
  margin: 0;
  padding: 0;
  background: #000066;
  text-align: center;
  position: relative;
  color: white;
}

.game-table {
  display: table;
  width: 100%;
  margin-top: 5%;
}

.full-guess-column {
  float: left;
  width: 25%;
}

.viz-column {
  float: left;
  width: 50%;
}

.letters-column {
  float: left;
  width: 25%;
}

.blank {
	padding: 7px;
	font-size: 34px;
}

.blanks-container {
	word-wrap: break-word;
  text-align: center;
}
